html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background: white; }

#mainContent {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #512e67;
  border: 1px solid black;
  background: #fff;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

.hide {
  opacity: 0; }

.bgCircle {
  height: 471px;
  width: 339px;
  background-color: #fbb700;
  border-radius: 50%;
  top: -133px;
  left: -196px; }

#logo {
  top: 151px;
  left: 142px; }

#endCopy {
  top: 73px;
  left: 16px; }

#mainAnimation {
  width: 200px;
  height: 200px; }

#bgExit {
  width: 200px;
  height: 200px;
  cursor: pointer;
  top: 0;
  left: 0; }
